body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(194, 159, 179);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rgb(104, 31, 72);
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: rgb(104, 31, 72);
    text-decoration: none;
    display: block;
    padding: 10px;
    background-color: rgb(194, 159, 179);
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: rgb(104, 31, 72);
}

main {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    background-color:rgb(104, 31, 72);
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

.dashboard h2 {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    background-color: rgb(161, 102, 137);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card a {
    display: block;
    text-decoration: none;
    background-color: rgb(104, 31, 72);
    color: white;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #555;
}

.card:hover {
    transform: translateY(-5px);
}
